{% extends "base.html" %}

{% block content %}
<div class="min-h-screen bg-white">
    <!-- Header -->
    {% include 'components/header.html' %}
    
    <!-- Hero Section -->
    {% include 'components/hero.html' %}
    
    <!-- About Section -->
    {% include 'components/about.html' %}
    
    <!-- Owner Section -->
    {% include 'components/owner.html' %}
    
    <!-- Products Section -->
    {% include 'components/products.html' %}
    
    <!-- Footer -->
    {% include 'components/footer.html' %}
    
    <!-- Order Form Modal -->
    {% include 'components/order_form.html' %}
</div>
{% endblock %}

